html, body {
  height: 100%;
}
body {
  color: #212121;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
h1, h2, h3, h4, h5 {
  color: #212121;
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 700;
}
h2 {
  font-size: 40px;
  padding-bottom: 20px;
}
h3 {
  font-size: 20px;
  padding-bottom: 0px;
}
a, a:visited {
  color: #0072bc;
}
img {
  max-width: 100%;
  height: auto;
}
p, li {
  font-size: 125%;
}
hr {
  margin-bottom: 40px;
  margin-top: 40px;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
}
.navbar img {
  max-height: 55px;
  margin-top: 10px;
}

/* Header/Footer */

.navbar, footer {
  background: #4773AA;
  color: #fff;
}
.navbar a, footer a, .navbar a:hover, footer a:hover, footer a:visited {
  color: #fff;
}
footer {
  margin-top: 40px;
  padding: 40px 0;
}
footer p {
  font-size: 100%;
  padding: 0;
}
footer .social {
  font-size: 30px;
}
footer img {
  max-width: 300px;
}

/* Jumbotron */

.jumbotron {
  background: #4773AA;
  background-position: right;
  color: #fff;
  margin-bottom: 40px; 
  padding-bottom: 90px;
  padding-top: 70px;
  background-repeat: no-repeat;
}
.jumbotron h1, .jumbotron p {
  color: #fff;
}
.jumbotron h1 {
  font-size: 70px;
}

/* Reverse */

.reverse {
  background: #4773AA;
  color: #fff;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.reverse h2, .reverse .fa {
  color: #fff;
}

/* People */

.people img {
  border-radius: 50%;
  max-width: 125px;
}
.people-why img {
  border-radius: 50%;
  max-width: 75px;
}
