html, body {
  height: 100%;
}
.fluid-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    position: relative;
}
.fluid-container {
    width: 100%;
    margin: 0 auto;
}

#navigation {
  background: #00819c;
    position: fixed;
    width: 35%;
    -webkit-box-flex: 0 0 35%;
    -moz-box-flex: 0 0 35%;
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    height: 100vh;
  color: #FFF;
}
.navigation-links {
  margin: 0 10%;
  font-size: 1.6rem;
  padding: 13px 0;
}
#sign {
  border: 1px solid #ccc;
  margin-top: 50px;
  background-color: #194450;
  padding: 15px;
  font-size: 1.4rem;
  border-radius: 1rem;
}
#summary {
  margin: 50px 10% 0;
  font-size: 1.4rem;
  line-height: 3rem;
}
#navigation a {
  color: #FFF;
  width: 100%;
}
.nav-link {
  padding: .5rem 0;
}
#summary a {
  color: #202431;
}
.inner-container {
  padding: 20px;
}
#main-content {
  width: 65%;
  -webkit-box-flex: 0 0 65%;
  -moz-box-flex: 0 0 65%;
  -webkit-flex: 0 0 65%;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  margin-left: 35%
}
body {
  color: #212121;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.2rem;
}
h1, h2, h3, h4, h5 {
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 700;
 margin: 15px 0 15px;
}
a {
  color: #00819c;
}
a:visited,
a:hover {
  color:#005160;
}
.logo {
  max-width: 500px;
}
.branding-image {
  text-align: center;
  padding: 20px 0;
}
@media only screen and (max-width: 800px) {
  .logo {
    max-width: 90%;
  }
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  margin-bottom: 40px;
  margin-top: 40px;
}
section,
footer {
  padding: 60px 0;
}

/* Navbar */

.quicknav {
  text-align: right;
  background: #0b4450;
  position: fixed;
}
.quicknav a,
.quicknav a:hover,
.quicknav a:visited {
  display: inline-block;
  padding: 5px 10px;
  color: #FFFFFF;
  cursor: pointer;
}

/* Header/Footer */

footer {
  background: #2b2b2b;
  color: #fff;
}
footer a, 
footer a:hover, 
footer a:visited {
  color: #fff;
}

footer p {
  font-size: 1rem;
  padding: 0;
}
footer .social {
  font-size: 30px;
}
footer img {
  max-width: 200px;
}
button.btn-primary {
  background-color: #00819c;
  border: none;
}
button.btn-primary:hover {
  background-color: #005160;
  border: none;
}

/* Jumbotron */

.jumbotron {
  background: #00819c;
  color: #fff;
  padding-bottom: 90px;
  padding-top: 70px;
  margin: 0;
}
.jumbotron h1, .jumbotron p {
  color: #fff;
}

/* Reverse */

.reverse {
  background: #eaeaea;
}
.reverse h2, .reverse .fa {
  color: #999;
}
.reverse a,
.reverse a:hover,
.reverse a:visited {
  color: #194450;
}
#principles,
#more,
#about,
#benefits,
#resources {
  padding: 20px;
}

#intro {
  font-size: 3rem;
  line-height: 5rem;
  padding: 100px 15% 60px;
}
#principles {
  font-size: 1.4rem;
  font-weight: 900;
}
#principles-list {
  font-size: 1.4rem;
}
#principles-list ol {
  padding-top: 5px;
}
#principles-list li {
  padding: 15px;
}

