body {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 300;
}
h1, h2, h3, h4, h5 {
  color: #000000;
  font-weight: 300;
}
h2 {
  font-size: 40px;
  padding-bottom: 20px;
}
a, a:visited {
  color: #0072bc;
}
.btn {
  background: transparent;
  border: 1px solid #fff;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  font-weight: 300;
}
.btn-default {
  background: #000;
  box-shadow: none;
  color: #fff;
  text-shadow: none;
}
a.btn {
  color: #fff;
}
.header {
  background: #000;
  border-bottom: 1px solid #fff; 
  color: #fff; 
  padding-bottom: 20px;
  padding-top: 20px;
}
.header img {
  height: auto;
  width: 100%;
  max-width: 150px;
}
.hero {
  background: #000 url("../img/hero.png") top right no-repeat;
  color: #fff;
  margin-bottom: 40px; 
  padding-bottom: 90px;
  padding-top: 70px;
}
.hero h1, .hero h2, .hero h3 {
  color: #fff;
}
.hero h1 {
  font-size: 70px;
}
.hero .email {
  color: #000;
}
.why {
  margin-bottom: 40px;
}
.why p, .why li {
  font-weight: 300;
}
.why img {
  height: auto;
  max-width: 225px;
  width: 100%;
}
.share {
  padding-bottom: 40px;
}
.line {
  border-bottom: 5px solid #e8e8e8;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.collaborators {
  padding-bottom: 40px;
}
.collaborators img {
  height: auto;
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}
.navbar {
  background: #000000;
  border-color: #000000;
}
.navbar p {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
}
.navbar a {
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}
.footer {
  padding-bottom: 100px;
  padding-top: 40px;
}
.footer p {
  font-size: 70%;
}